* {
    box-sizing: border-box;
}

.box {
    width: 300px;
    background-color: skyblue;
    font-size: 50px;
    padding: 20px;
    border: 4px dashed slateblue;
    margin: 60px;
    /* margin-right: 20px; 우
       margin-left: 20px; 좌
       margin-top: 20px; 상
       margin-bottom: 20px; 하*/
    /* margin: 20px 40px; 상, 하 기준 */
    /* margin: 10px 20px 30px 40px; 시계방향 */
    /* margin: 10px 20px 30px; 상, 좌우, 하 기준*/
}